#navbar {
    height: 180px;
    display: flex;
}

#navbar-container {
    flex-direction: column;
    padding: 29px 0;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}